.header{
    width:100%;
    height: 100px;
    background-color: black;
    padding:1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: right;

    color:white;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 1em #00000022;
    margin: 0;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 100%;
}

.navbar-ul{
    width: 100%;
    justify-content: flex-end;
    display: block;
    align-items: end;
}
.navbar-h2{
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    display: block;
    flex-flow: row nowrap;
}
.header-h1{}
.header-a{}
.header-button{
    display:none;
    cursor: pointer;
}

.header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

.header-li{
    text-align: left;
}







@media screen and (max-width:480px){

    .header-button{
        display: flex;
    }
    .header-nav{
        width:100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height:0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    .header-nav.isActive{
        height:50vh;
        opacity: 1;
    }
    .header-ul{
        flex-direction: column;
    }
    .header-li{
        margin: .5em 0;
    }
}