#root {
  min-width: 100%;
  min-height: 100%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #b3aaaa;
  box-shadow: 0 0 1em #00000022;
  margin: 0;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0;
}
.navbar a {
  display: inline-block;
}
.navbar a:active {
  color: blue;
}
.card {
  display: flex;
  gap: 1rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
li {
  list-style-type: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
